<div>
  <h2>Listagem de Arquivos</h2>
  <table class="table table-striped">
    <tr>
      <th>Id Usuário</th>
      <th>Nome do Arquivo</th>
      <th>Estado</th>
      <th>Tempo de Envio</th>
      <th>Qtd de Blocos</th>
      <th>Download</th>
    </tr>
    <tr *ngFor="let file of files | async" >
      <td>{{file.userId}}</td>
      <td>{{file.fileName}}</td>
      <td>{{file.status}}</td>
      <td>{{file.processDuration}}</td>
      <td>{{file.quantityOfBlocks}}</td>
      <td><button type="button" class="btn btn-link" *ngIf="file.download != null" (click)="download(file.id)">Download</button></td>
    </tr>
  </table>
</div>
